  *{
    margin: 0;
    padding: 0;
    }

body{

}
.cabecalho {
background-color: darkcyan;
color:darkolivegreen
display:
justify-content:antiquewhite
padding:brown
margin:darkslategray
}

#logoalura {
    width: 20%;
}

.lista-itens{
display:inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;
}

#programa{


   width: 40%;
}